@charset 'UTF-8';

@import "mixin";

body {
    font-size: 16px;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    box-sizing: border-box;
}


@include animeBg;


.top {
    background-image: url(../image/top.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 470px;
    position: relative;

    @include scrollanime;

    &-bg {
        position: absolute;
        background-color: rgba(24, 71, 98, 0.35);
        height: 470px;
        width: 100%;



        h1 {
            position: absolute;
            right: 10%;
            top: 10%;
            font-size: (32rem/16);
            color: $font-color2;
            font-weight: 400;
            font-family: 'Roboto';

            @include media768 {
                left: 10%;
                font-size: (56rem/16);
                ;
            }

            @include media960 {
                font-size: (64rem/16);
                ;
                left: 16%;
            }
        }
    }
}


//header
@import 'header';



//クリックしたら
.is-drawerActive {
    .sp-global-menu {
        transform: translateX(0px);
        transition: 0.3s;

    }

    .drawer-background {

        visibility: visible;
        opacity: 0.8;
        transition: 0.3s;
    }
}


.form {
    .info {
        @include wrapSp;

        @include media768 {
            @include wrapPC;
            max-width: 50%;
        }

        h1 {
            margin-top: 48px;
            font-weight: 400;
            font-size: (14rem/16);
            color: $font-color;
            margin-bottom: 36px;

            @include media768 {
                width: 700px;
                margin: 0 auto;
                font-size: (20rem/16);
                margin-top: 72px;
                // text-align: center;
                margin-bottom: 56px;

            }
        }
    }

    &-wrap {
        max-width: 70%;
        width: 300px;
        margin: 0 auto;

        @include media768 {
            max-width: 50%;
            width: 700px;
        }

        dl {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 32px;
            }
        }

        dt {
            color: $font-color;
            font-size: (14rem/16);
            margin-bottom: 8px;

            @include media768 {
                font-size: (20rem/16);
            }
        }

        input {
            border: 1px solid #cdcdcd;
            width: 100%;
            height: 40px;
            padding: 8px 0 8px 12px;
            font-size: 1rem;
            border-radius: 4px;

            @include media768 {
                height: 64px;
            }

        }


        input[type="checkbox"] {
            width: 20px;
            height: auto;

        }




        textarea {
            border: 1px solid #cdcdcd;
            width: 100%;
            height: 130px;
            border-radius: 4px;
            padding: 10px;
            font-size: 1rem;
        }

        @include media768 {
            .name-yoko {
                display: flex;

            }
        }


        .alert {
            border: none;
            color: #ff0000;
            margin-top: 4px;
            display: none;
        }

        .cheak {
            display: block;
        }

        .hissu {
            display: flex;
            align-items: center;
        }

        .hissu::after {
            content: "必須";
            color: #ff0000;
            margin-left: 8px;
            font-size: (14rem/16);

            @include media768 {

                font-size: 1rem;
            }
        }

        .dd-name {
            margin-bottom: 8px;

            @include media768 {
                margin-bottom: 0;
                margin-right: 16px;
            }
        }

        .privacy-po {
            overflow-y: scroll;
            width: 100%;
            height: 300px;
            border: 1px solid #cdcdcd;

            padding: 24px 20px;
            padding-top: 8px;
            margin-bottom: 8px;

            li {
                list-style: none;
            }

            .privacyList {
                margin-top: 24px;
            }

            h1 {
                font-size: (18rem/16);
                margin-bottom: 8px;
            }

            h2 {
                margin-bottom: 8px;
                font-size: (18rem/16);
            }

            p,
            li {
                font-size: (14rem/16);

                @include media768 {
                    font-size: (16rem/16);
                }
            }
        }


        .button {
            margin-top: 32px;
            text-align: center;
        }

        button {
            display: inline-block;
            text-decoration: none;
            // color: $font-color2;
            width: 120px;
            height: 40px;
            // line-height: 40px;
            text-align: center;
            // background-color: $accent-color;
            border-radius: 4px;
            margin-bottom: 56px;
            transition: 0.4s all;
            border: 1px solid;
            cursor: inherit;
            outline: none;
        }

        .submitcheak {
            color: $font-color2;
            background-color: $accent-color;
            cursor: pointer;
            // line-height: 40px;
        }

        .remove {
            text-align: center;
        }
    }
}

@import "footer";
